.notification-icon {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  color: #ffffff;
  margin-top: 7px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.details-modal {
  background: white;
  color: black;
  width: 450px;
  max-height: 60vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
  animation: fadeIn 0.25s ease;
}

.notification-modal
{
  position: relative;
  background: white;
  width: 500px;
  max-height: 60vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
  animation: fadeIn 0.25s ease;
}

.notification-modal h3,
.details-modal h3 {
  color:black;
  margin-bottom: 15px;
}

.notification-list {
  list-style: none;
  padding: 0;
}

.notification-item {
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  background: #f7f7f7;
  transition: 0.2s;
  font-weight:lighter;
  color: black;
}

.load-more-btn {
  background-color: #2196f3;
  color: white;
  width: 100%;
  text-align: center;
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.clear-btn{
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.notification-item:hover {
  background: #e8e8e8;
}

.unread {
  border-left: 5px solid #e60f0f;
  background: #fee4df;
  font-weight: normal;
}

.close-btn {
  margin-top: 15px;
  width: 100%;
  padding: 8px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.approve-btn {
  padding: 8px;
  background: #28a745;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  flex: 1;
  margin-right: 5px;
}

.close-top-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-top-btn:hover {
  color: #ff0000;
}

.reject-btn {
  padding: 8px;
  background: #dc3545;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  flex: 1;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
